{{#if review}}

    <div class="container" id="reviewcontainer">
        <h1 class="mb-0">{{review.name}}</h1>
        <h4 class="mb-1 text-muted">by {{review.author}}</h4>
        <h5 class="mb-1 text-muted">Review published: {{review.publishtime}}</h5>
        
        <h4 class="reviewInfo">Rating: {{review.rating}}/5</h4>
        {{#if collection}}
            <h4 class="reviewInfo reviewCollectionBorder" style="border-color: {{{collection.color}}}; color: {{{collection.color}}};">Collection: {{collection.name}}</h4>
        {{/if}}

        <div id="topstylebar"></div>

        <p class="containContent">{{review.body}}</p>

    </div>

    {{#if isLoggedIn}}
            <form action="/reviews/{{review.reviewid}}/delete" method="POST">
                <input type="hidden" name="_csrf" value="{{{csrfToken}}}">
                <button id="reviewbutton" type="submit" class="btn btn-dark">Delete review</button>
            </form>
            
            <a href="/reviews/{{review.reviewid}}/edit"><button id="reviewbutton" type="button" class="btn btn-dark">Edit review</button></a>
    {{else}}
    {{/if}}

    {{#if validationErrors.length}}
        <p>Error:</p>
        <ul>
            {{#each validationErrors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}

    <div class="container bottomMargin30">
        <h4>Write a comment</h4>
        <form action="/comments/{{review.reviewid}}/write" method="POST" autocomplete="off">
            <div class="form-group">
                <label for="name">Your name</label>
                <input type="text" name="name" maxlength="{{{maxNameLength}}}" class="form-control" aria-label="name" aria-describedby="button-addon2">
            </div>

            <div class="form-group">
                <label for="body">Your message</label>
                <textarea type="text" name="body" maxlength="{{{maxBodyLength}}}" aria-label="body" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <input type="hidden" name="_csrf" value="{{{csrfToken}}}">

            <input class="btn btn-outline-dark" type="submit" value="Post comment">
        </form>
    </div>
    
    <div class="container bottomMargin30">
    {{#if comments.length}}
        {{#each comments}}
            <div class="comment containContent">
                <h4 class="mb-0">{{name}}</h4>
                <h6 class="mb-1 text-muted">at {{publishtime}}</h6>
                <p class="containContent">{{body}}</p>
                

                <a href="/comments/{{this.reviewid}}/{{this.commentid}}/edit"><button type="button" class="btn btn-dark blockElement">Edit comment</button></a>
                
                <form action="/comments/{{this.reviewid}}/{{this.commentid}}/delete" method="POST">
                    <input type="hidden" name="_csrf" value="{{{@root.csrfToken}}}">
                    <button type="submit" class="btn btn-dark topMargin8">Delete comment</button>
                </form>
            </div>
        {{/each}}
    {{/if}}

    </div>

{{else}}
    
    <p class="topMargin20">No review with this id found.</p>

{{/if}}