<h1 id="textHeader">Write review</h1>
<div id="separationBar"></div>

{{#if validationErrors.length}}
    <p>Error:</p>
    <ul>
        {{#each validationErrors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

<form action="" method="POST" autocomplete="off">
    
    <div class="form-group">
        <label for="name">Name of book</label>
        <input type="text" name="name" maxlength="{{{maxNameLength}}}" class="form-control" aria-label="name" aria-describedby="button-addon2">
    </div>

    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" maxlength="{{{maxNameLength}}}" class="form-control" aria-label="author" aria-describedby="button-addon2">
    </div>

    <div class="form-group">
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" name="collectionId">
                <option disabled selected value>Choose a collection for your review... (optional)</option>
                {{#if collections.length}}
                    {{#each collections}}
                        <option class="form-check-input" type="checkbox" id="inlineCheckbox" value="{{{collectionid}}}">{{name}}</option>
                    {{/each}}    
                {{else}}
                    <option value="" disabled>There are no collections available</option>
                {{/if}}
            </select>
        </div>
    </div>

   <div class="form-group">
       <label class="blockElement" for="rating">Rating</label>
        <fieldset class="reviewrating">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
        </fieldset>
    </div>

    <div class="form-group topMargin70">
        <label for="body">Your thoughts</label>
        <textarea type="text" name="body" minlength="{{{minThoughtsLength}}}" maxlength="{{{maxThoughtsLength}}}" aria-label="body" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>

    <input type="hidden" name="_csrf" value="{{{csrfToken}}}">

    <input class="btn btn-outline-dark" type="submit" value="Finish review">
</form>
